<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>frau-standalone</title>
</head>
<body>
<div id="app"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.js"></script>

<script>
    window.D2L = true;
    require.config({
        paths: {
            json: 'https://cdnjs.cloudflare.com/ajax/libs/requirejs-plugins/1.0.3/json.min',
            text: 'https://cdnjs.cloudflare.com/ajax/libs/require-text/2.0.12/text.min',
            css: 'https://cdnjs.cloudflare.com/ajax/libs/require-css/0.1.8/css.min',
            URI: 'https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.17.1/URI',
            punycode: 'https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.17.1/punycode',
            IPv6: 'https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.17.1/IPv6',
            SecondLevelDomains: 'https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.17.1/SecondLevelDomains'
        }
    });
    require(['json!/app/appconfig.json', 'json!/.standalone/standalone.json', '/.standalone/templates/common.js', 'URI'], function(appConfig, config, common, URI) {
        var jsFiles = common.resolveMultiConfig(config.jsFiles).map(function(jsFile) {
            if (URI(jsFile).is('relative')) {
                return '/.standalone/' + jsFile;
            }
            return jsFile;
        });

        var cssFiles = common.resolveMultiConfig(config.cssFiles).map(function(cssFile) {
            if (URI(cssFile).is('relative')) {
                return 'css!/.standalone/' + cssFile;
            }
            return 'css!' + cssFile;
        });

        require(jsFiles.concat(cssFiles), function() {
            require([appConfig.loader.endpoint], function(install) {
                if (typeof config.appOptions === 'string') {
                    require(['json!/.standalone/' + config.appOptions], function(appOptions) {
                        install(
                                document.getElementById('app'),
                                appOptions,
                                false,
                                null
                        );
                    })
                } else {
                    install(
                            document.getElementById('app'),
                            config.appOptions,
                            false,
                            null
                    );
                }
            });
        });
    });
</script>
</body>
</html>
